//- CSS
//- Bootstrap
link(type="text/css",rel="stylesheet",href="/libs/bootstrap/dist/css/bootstrap.min.css")
//- Font-Awesome Icon
//- link(type="text/css",rel="stylesheet",href="/libs/font-awesome/css/font-awesome.min.css")
//- Common
link(type="text/css",rel="stylesheet",href="/common/css/common.css")
link(type="text/css",rel="stylesheet",href="/common/css/mod-info.css")

//- Javascript
//- JQuery
script(src="/libs/jquery/dist/jquery.min.js")
//- Bootstrap
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")